<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-store" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='icon' type='image/png' href='assets/images/favicon.png'/>
	<link rel='apple-touch-icon' href='assets/images/favicon.png'/>
	<link rel="stylesheet" type="text/css" href="assets/css/app.css">
	<script type="text/javascript" src="assets/js/app.js"></script>
	<title>{{ title }}</title>
</head>
<body class="{% if request.uri[1:] != '' %}{{ request.uri[1:] }}{% else %}home{% end %}">
	<div id="app">
		<div id="app__inner">
			<aside id="sidebar">
				<nav id="main-nav">
					<ul>
						<li>
							<a href="#" class="cd active">
								<span>Home</span>
							</a>
						</li>
						<li>
							<a href="#library" class="list">
								<span>Library</span>
							</a>
						</li>
						<li>
							<a href="#radio" class="music">
								<span>Radio</span>
							</a>
						</li>
						<li>
							<a href="#settings" class="cog">
								<span>Settings</span>
							</a>
						</li>
						<li>
							<a href data-bs-toggle="modal" data-bs-target="#controls" class="volume-down">
								<span>Controls</span>
							</a>
						</li>
					</ul>
				</nav>
			</aside>
			<main id="main">
			</main>
		</div>
	</div>
	<div class="modal fade" id="controls" tabindex="-1" aria-hidden="true">
		<div id="controls__dialog" class="modal-dialog modal-dialog-centered">
			<div id="controls__content" class="modal-content">
				<button id="controls__close" type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-label="Close">
					<span class="icon remove"></span>
				</button>
				<div id="controls__body" class="modal-body">
					<h2>Volume</h2>
					<input
						type="range"
						class="form-range"
						id="controls__volume"
						data-bs-theme="dark"
						min="0"
						max="100"
						{%if 'current_volume' in locals() %}
						value="{{ current_volume }}"
						{% else %}
						disabled
						{% end %}
					/>
					<div class="btn-group">
						<button type="button" class="btn btn-dark" data-tag-name="volume-off">
							<span class="icon volume-off"></span>
						</button>
						<button type="button" class="btn btn-dark" data-tag-name="volume-down">
							<span class="icon volume-down"></span>
						</button>
						<button type="button" class="btn btn-dark" data-tag-name="volume-up">
							<span class="icon volume-up"></span>
						</button>
					</div>
					<h2>Controls</h2>
					<div class="btn-group">
						<button type="button" class="btn btn-dark" data-tag-name="play_pause">
							<span class="icon {%if 'play_state' in locals() %}{{ play_state }}{% else %}play{% end %}"></span>
						</button>
						<button type="button" class="btn btn-dark" data-tag-name="prev">
							<span class="icon backward"></span>
						</button>
						<button type="button" class="btn btn-dark" data-tag-name="next">
							<span class="icon forward"></span>
						</button>
						<button type="button" class="btn btn-dark" data-tag-name="play_mode">
							<span class="icon {%if 'play_mode' in locals() %}{{ current_play_mode }}{% else %}unchecked{% end %}"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
