<div id="settings">
	<nav id="settings__nav">
		<h2><span class="icon cog"></span><span>Settings</span></h2>
		<ul>
		{% for btn in btn_data %}
		<li>
			<a href data-name="{{ btn['name'] }}">
				<span class="icon {{ btn['icon_class'] }}"></span>
				<span>{{ btn['text'] }}</span>
			</a>
		</li>
		{% end %}
		</ul>
	</nav>
	<div id="settings__screensaver">
		<h2><span class="icon blackboard"></span><span>Screensaver</span></h2>
		<h3>Web</h3>
		<div id="settings__screensaver-web">
			<div>
				<div class="radio-control">
				<input type="radio" id="ss_web_random" name="ss_web_type" value="random">
				<label for="ss_web_random">Random</label><br>
				</div>
				<div class="radio-control">
					<input type="radio" id="ss_web_bounce" name="ss_web_type" value="bounce">
					<label for="ss_web_bounce">Bounce</label>
				</div>
				<div class="radio-control">
					<input type="radio" id="ss_web_wave" name="ss_web_type" value="wave">
					<label for="ss_web_wave">Wave</label>
				</div>
			</div>
			<div>
				<label for="ss_web_timeout"><span>Timeout</span><br><span class="small">(seconds)</span></label>
				<input type="number" id="ss_web_timeout" name="ss_web_timeout" value="" min="1">
			</div>
		</div>
		<h3>Host</h3>
		<div class="radio-control">
			<input type="radio" id="ss_host_random" name="ss_host_type" value="random" {%if current_type == 'random' %}checked{% end %}>
			<label for="ss_host_random">Random</label><br>
		</div>
		{% for ss_type in ss_types %}
		<div class="radio-control">
			<input type="radio" id="ss_host_{{ss_type}}" name="ss_host_type" value="{{ss_type}}" {%if current_type == ss_type %}checked{% end %}>
			<label for="ss_host_{{ss_type}}">{{ss_type}}</label>
		</div>
		{% end %}
	</div>
</div>