@font-face {
	font-family: glyphicons;
	src: url(/assets/fonts/glyphicons-halflings-regular.ttf);
}

// @font-face {
// 	font-family: 'Raleway';
// 	font-style: normal;
// 	font-weight: 400;
// 	font-display: swap;
// 	src: url(/assets/fonts/Raleway/Raleway-Regular.ttf);
// }

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/assets/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}