@import 'vars';
@import 'mixins';
@import 'typography';
@import "~bootstrap/scss/bootstrap";

* {
	box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
	border: 1px solid map-get($theme_colors, 'dark_purple');
	background: map-get($theme_colors, 'near_black');
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: map-get($theme_colors, 'dark_purple');
}

::-webkit-scrollbar-thumb:hover {
	background: map-get($theme_colors, 'purple');
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.icon {
	@include glyphicon;
}

.icon-button {
	font-size: pxToRem(32);
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: baseline;

	.icon {
		&::before {
			font-size: pxToRem(24);
		}
	}
}

html {
	font-size: 4.26667vw;

	@include responsiveQuery(null, 800px) {
		font-size: 16px;
	}
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	@include responsiveQuery(m) {
		justify-content: center;
	}
}

#app {
	margin: 0;
	padding: 0;
	background: map-get($theme_colors, 'near_black');
	width: 100%;
	height: 100%;
	flex: 0 0 auto;
	display: flex;
	flex-flow: row nowrap;
	position: relative;

	@include responsiveQuery(m) {
		width: 800px;
		height: 480px;
		flex: 0 0 480px;
	}
}

#sidebar {
	width: 10%;
	flex: 0 0 10%;

	@include responsiveQuery(m) {
		flex: 0 0 80px;
	}

	#main-nav {
		height: 100%;
	}

	ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 15px;
	}

	li {
		display: block;

		> a,
		> span {
			@include glyphicon;

			span {
				display: none;
			}
		}
	}
}

#main {
	width: 90%;
	//height: 480px;
	flex: 0 0 90%;
	position: relative;

	@include responsiveQuery(m) {
		height: 480px;
		flex: 0 0 720px;
	}
}

//
// Now Playing
//
#nowplaying {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	
	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
		padding: 0; //15px 0;
		height: calc(100% - 55px);

		h2 {
			margin: 0;
		}
	}

	&__cover {
		flex: 0 0 auto;
		max-width: 100%;
		height: auto;
	}
	
	@keyframes track_scroll_anime {
		to { transform: translateX(-100%); }
	}

	&__track {
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 15px;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}
	}
}

//
// Settings
//
#settings {

	&__nav {

		li {
			display: block;
		}

		a {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			font-size: pxToRem(32);
			margin-bottom: .4em;

			span.icon {
				@include glyphicon;
				margin-right: .5em;
			}

			&:hover span.icon::before {
				color: map-get($theme_colors, 'orange');
			}

			&.active cpan.icon::before {
				color: map-get($theme_colors, 'lemon');
			}
		}
	}
}

//
// Library
// Radio
//
#library,
#radio {

	&__nav {
		a.new-playlist {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: baseline;
			font-size: pxToRem(30);
			margin-right: pxToRem(30);

			@include responsiveQuery(m) {

			}

			.icon {
				&::before {
					font-size: pxToRem(24);
				}
			}
		}
	}

	&__panels {
		position: absolute;
		top: 60px;
		width: 100%;
		height: calc(100% - 80px);
		overflow-x: hidden;
		overflow-y: auto;

		ul {
			width: 100%;
		}

		li {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: pxToRem(15);
			
			> a:first-child {
				flex: 1 1 auto;
				font-size: pxToRem(24);
				display: block;

				@include responsiveQuery(m) {
					font-size: pxToRem(32);
				}
			}

			> .icon {
				&::before {
					font-size: pxToRem(24);
				}
			}
		}

		.button-row {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 15px;
		}
	}

	#radio__nav {
		.nav-link {
			background-color: transparent !important;
			font-size: pxToRem(24);

			&.active {
				color: map-get($theme_colors, 'orange');
			}
		}
	}

	#radio__streams {

		ul {
			display: flex;
			flex-flow: row wrap;

			li {
				flex: 1 1 50%;
				width: 50%;

				@include responsiveQuery(m) {
					flex: 1 1 33.33%;
					width: 33.33%;
				}
			}
		}
	}
}

//
// Controls
//
#controls {

	&__content {
		position: relative;
		padding: pxToRem(15);
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	&__body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

//
// Screensaver
//
#screensaver {
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	height: 480px;

	&__inner {
		
	}

	&__canvas {
		display: block;
		width: 800px;
		height: 425px;
		background: map-get($theme_colors, 'near_black');
	}

	&__track {
		width: 800px;
		height: 55px;
		background: map-get($theme_colors, 'near_black');
	}

	&__bouncer {
		position: absolute;
		left: 0;
		top: 0;
	}
}