@import 'vars';
@import 'mixins';
@import 'typography';
@import "~bootstrap/scss/bootstrap";

* {
	box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
	border: 1px solid map-get($theme_colors, 'dark_purple');
	background: map-get($theme_colors, 'near_black');
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: map-get($theme_colors, 'dark_purple');
}

::-webkit-scrollbar-thumb:hover {
	background: map-get($theme_colors, 'purple');
}

strong {
	font-weight: bold;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.icon {
	@include glyphicon;
}

.icon-button {
	font-size: pxToRem(28);
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: baseline;

	.icon {
		&::before {
			font-size: pxToRem(24);
		}
	}
}

html {
	font-size: 4.26667vw;

	@include responsiveQuery(s) {
		font-size: 3.6vw;
	}
	
	@include responsiveQuery(m) {
		font-size: 16px;
	}
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	@include responsiveQuery(m) {
		justify-content: center;
	}
}

#app {
	margin: 0;
	padding: 0;
	background: map-get($theme_colors, 'near_black');
	width: 100%;
	height: 100%;
	flex: 0 0 auto;

	@include responsiveQuery(m) {
		width: 800px;
		height: 480px;
		flex: 0 0 480px;
	}

	&__inner,
	.screensaver {
		width: 100%;
		height: 100%;
		flex: 0 0 auto;
		display: flex;
		flex-flow: column nowrap;
		position: relative;

		@include responsiveQuery(m) {
			flex-flow: row nowrap;
		}
	}
}

#sidebar {
	width: 100%;
	flex: 0 0 auto;

	@include responsiveQuery(m) {
		width: 10%;
		flex: 0 0 10%;
		//flex: 0 0 80px;
	}

	#main-nav {
		height: 100%;
	}

	ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: pxToRem(10);

		@include responsiveQuery(m) {
			flex-flow: column nowrap;
		}
	}

	li {
		display: block;

		> a,
		> span {
			@include glyphicon;

			span {
				display: none;
			}
		}
	}
}

#main {
	width: 100%;
	flex: 1 0 auto;
	position: relative;
	padding: 0 pxToRem(15);

	@include responsiveQuery(m) {
		width: 90%;
		height: 480px;
		flex: 0 0 720px;
		padding: 0;
	}
}

//
// Now Playing
//
#nowplaying {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;

	@include responsiveQuery(m) {
		left: auto;
	}

	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
		padding: 0; //15px 0;
		height: calc(100% - 55px);

		h2 {
			margin: 0;
			white-space: nowrap;
		}
	}

	&__cover {
		flex: 0 0 auto;
		max-width: 100%;
		height: auto;
	}
	
	@keyframes track_scroll_anime {
		to { transform: translateX(-100%); }
	}

	&__track {
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 15px;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}
	}
}

//
// Settings
//
#settings {

	&__nav {
		width: 100%;

		li {
			display: block;
		}

		a {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			font-size: pxToRem(28);
			margin-bottom: .4em;

			span.icon {
				@include glyphicon;
				margin-right: .5em;
			}

			&:hover span.icon::before {
				color: map-get($theme_colors, 'orange');
			}

			&.active cpan.icon::before {
				color: map-get($theme_colors, 'lemon');
			}
		}
	}

	&__web {
		position: absolute;
		left: 50%;
		top: 0;
		width: 50%;
		height: 100%;

		> div {
			margin: 1em 0;
		}

		#ss_web_timeout {
			background: transparent;
			width: 5em;
		}
	}
}

//
// Library
// Radio
//
#library,
#radio {

	&__nav {

		a.new-playlist {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: baseline;
			font-size: pxToRem(20);
			//margin-right: pxToRem(10);

			@include responsiveQuery(m) {
				font-size: pxToRem(24);
				padding: 8px 20px 0 0;
			}

			span:first-child {
				margin-right: pxToRem(8);
			}

			.icon {
				&::before {
					font-size: pxToRem(22);
				}
			}
		}
	}

	&__panels {
		position: absolute;
		top: pxToRem(45);
		left: 0;
		//width: 100%;
		height: calc(100% - pxToRem(45));
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 pxToRem(10);

		@include responsiveQuery(m) {
			left: auto;
		}

		ul {
			width: 100%;
		}

		li {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: pxToRem(15);
			
			> a:first-child {
				flex: 1 1 auto;
				font-size: pxToRem(22);
				display: block;

				@include responsiveQuery(m) {
					font-size: pxToRem(32);
				}
			}

			> .icon {
				&::before {
					font-size: pxToRem(24);
				}
			}
		}

		.button-row {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: pxToRem(15);

			a {
				margin-right: pxToRem(12);
			}

			span {
				margin-right: pxToRem(8);
			}
		}
	}

	#radio__nav {
		.nav-link {
			background-color: transparent !important;
			font-size: pxToRem(24);

			&.active {
				color: map-get($theme_colors, 'orange');
			}
		}
	}

	#radio__streams {

		ul {
			display: flex;
			flex-flow: row wrap;
			align-items: center;

			@include responsiveQuery(m) {

			}

			li {
				align-items: stretch;
				flex: 0 1 auto;
				min-width: 33.33%;
				width: auto;

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					width: 100%;
				}

				a.stream {
					flex: 1 1 35%;
				}

				.listennow-current-track {
					flex: 1 0 60%;
					font-size: .8em;

					p {
						margin-bottom: 0;
					}
				}

				a.refresh {
					flex: 1 1 5%;
					span::before {
						font-size: 20px;
					}
				}

				@include responsiveQuery(m) {
					//flex: 1 1 33.33%;
					//width: 33.33%;
				}
			}
		}
	}

	#radio__archives {

		.refresh-archives {
			display: flex;
			flex-flow: row nowrap;
			font-size: pxToRem(22);

			.icon {
				margin-right: pxToRem(8);
			}

			span:last-child {
				font-size: 1em;
			}
		}

		ul > li {
			//align-items: flex-end;
			display: block;

			> a {
				display: inline;

				&.plist {
					color: map-get($theme_colors, 'orange');

					.icon,
					.icon::before {
						display: inline;
						font-size: 1.3em;
					}
				}
			}
		}
	}
}

//
// Controls
//
#controls {

	&__content {
		position: relative;
		padding: pxToRem(15);
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	&__body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

//
// Screensaver
//
#screensaver {
	width: 100%;
	height: 100%;
	flex: 1 0 auto;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	@include responsiveQuery(m) {
		position: absolute;
		left: 0;
		top: 0;
		width: 800px;
		height: 480px;
		overflow: hidden;
	}

	&__anime {
		position: relative;
		width: 100%;
	}

	&__canvas,
	&__cover {
		position: relative;
		display: block;
		width: 100%;
		max-width: 800px;
		height: auto;
		//background: map-get($theme_colors, 'near_black');

		@include responsiveQuery(m) {
		
		}
	}

	&__canvas {
		background: map-get($theme_colors, 'near_black');
		z-index: 1;
	}

	&__cover {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}

	&__track {
		//width: 800px;
		//height: 55px;
		//background: map-get($theme_colors, 'near_black');
	
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 15px;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}
	}

	&__bouncer {
		position: absolute;
		left: 0;
		top: 0;
	}
}

//
// Weather Screensaver
//
#weather-screensaver {

	&__inner {
		width: 100%;
		flex: 1 0 auto;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		@include responsiveQuery(m) {
			position: absolute;
			left: 0;
			top: 0;
			width: 800px;
			height: 480px;
			overflow: hidden;
		}
	}

	&__img {
		width: 100%;
		height: auto;
	}

	&__track {
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 15px;
		z-index: 10;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;
		color: #fff;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}

		@include responsiveQuery(m) {
			color: map-get($theme_colors, 'near_black');
			text-shadow: 2px 1px 4px #fff;
		}
	}
}

//
// Screensaver
//
#automata-screensaver {
	&__inner {
		width: 100%;
		flex: 1 0 auto;
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;

		@include responsiveQuery(m) {
			position: absolute;
			left: 0;
			top: 0;
			width: 800px;
			height: 480px;
			overflow: hidden;
		}
	}

	&__canvas {
		display: block;
		width: 100%;
		max-width: 400px;
		height: auto;
		background: map-get($theme_colors, 'near_black');

		@include responsiveQuery(m) {
		
		}
	}

	&__track {
		//width: 800px;
		//height: 55px;
		//background: map-get($theme_colors, 'near_black');
	
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 25px;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}
	}

	&__bouncer {
		position: absolute;
		left: 0;
		top: 0;
	}
}