@import 'vars';
@import 'mixins';
@import 'typography';
@import "~bootstrap/scss/bootstrap";

* {
	box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
	border: 1px solid map-get($theme_colors, 'dark_purple');
	background: map-get($theme_colors, 'near_black');
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: map-get($theme_colors, 'dark_purple');
}

::-webkit-scrollbar-thumb:hover {
	background: map-get($theme_colors, 'purple');
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.icon {
	@include glyphicon;
}

.icon-button {
	font-size: 32px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: baseline;

	.icon {
		&::before {
			font-size: 24px;
		}
	}
}

html, body {

}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#app {
	margin: 0;
	padding: 0;
	background: map-get($theme_colors, 'near_black');
	width: 800px;
	height: 480px;
	flex: 0 0 480px;
	display: flex;
	flex-flow: row nowrap;
}

#sidebar {
	flex: 0 0 80px;

	#main-nav {
		height: 100%;
	}

	ul {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 15px;
	}

	li {
		> a,
		> span {
			@include glyphicon;

			span {
				display: none;
			}
		}
	}
}

#main {
	width: 720px;
	height: 480px;
	flex: 0 0 720px;
	position: relative;
}

//
// Now Playing
//
#nowplaying {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	
	&__inner {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;
		align-items: center;
		padding: 0; //15px 0;
		height: calc(100% - 55px);

		h2 {
			margin: 0;
		}
	}

	&__cover {
		flex: 0 0 auto;
		max-width: 100%;
		height: auto;
	}
	
	@keyframes track_scroll_anime {
		to { transform: translateX(-100%); }
	}

	&__track {
		margin: 0;
		padding: 0;
		padding-left: 100%;
		position: absolute;
		bottom: 15px;
		display: block;
		white-space: nowrap;
		animation: track_scroll_anime 20s infinite linear;

		&.paused,
		&:hover {
			animation-play-state: paused;
		}
	}
}

//
// Settings
//
#settings {

	&__nav {

		li {
			display: block;
		}

		a {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			font-size: 32px;
			margin-bottom: .4em;

			span.icon {
				@include glyphicon;
				margin-right: .5em;
			}

			&:hover span.icon::before {
				color: map-get($theme_colors, 'orange');
			}

			&.active cpan.icon::before {
				color: map-get($theme_colors, 'lemon');
			}
		}
	}
}

//
// Library
// Radio
//
#library,
#radio {

	&__nav {
		a.new-playlist {
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			align-items: baseline;
			font-size: 30px;
			margin-right: 30px;

			.icon {
				&::before {
					font-size: 24px;
				}
			}
		}
	}

	&__panels {
		position: absolute;
		top: 60px;
		width: 100%;
		height: calc(100% - 80px);
		overflow-y: auto;

		ul {
			width: 100%;
		}

		li {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 15px;
			
			> a:first-child {
				flex: 1 1 auto;
				font-size: 32px;
				display: block;
			}

			> .icon {
				&::before {
					font-size: 24px;
				}
			}
		}

		.button-row {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 15px;
		}
	}

	#radio__nav {
		.nav-link {
			background-color: transparent !important;
			font-size: 24px;

			&.active {
				color: map-get($theme_colors, 'orange');
			}
		}
	}

	#radio__streams {

		ul {
			display: flex;
			flex-flow: row wrap;

			li {
				flex: 1 1 33.33%;
				width: 33.33%;
			}
		}
	}
}

//
// Controls
//
#controls {

	&__content {
		position: relative;
		padding: 15px;
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
	}

	&__body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		align-items: center;
	}
}